.background {
  background-color: black;
}

.header {
  color: white;
  font-size: 50;
  text-align: center;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 100%;
    margin: auto;
}

.images {
  height: 350px;
  width: 350px;
  transition: .2s;
}

.images:hover {
    transform: scale(1.2);
}

p {
  position: relative;
  color: white;
  font-size: 25px;
  left: 110px;
  top: 370px;
}
