.deck2 {
  position: absolute;
  left: 52px;
}

.deck3 {
  position: absolute;
  left: 54px;
}

.deck4 {
  position: absolute;
  left: 56px;
}

.deck5 {
  position: absolute;
  left: 58px;
}

.deck6 {
  position: absolute;
  left: 60px;
}
