.tableImage {
  width: 1100px;
  height: 600px;
}

.gridContainer {
  margin: 0 auto;
  max-width: 1400px;
  background-image: url("/images/Table/pokerTable.png");
  width: 1400px;
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
