.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#paper {
  background-color: red;
  grid-column-start: 3;
  grid-column-end: 3;
}
